---
# Need to create a task to install the required packages
# and then run the playbook to install the packages
- name: Sigma5+ lab setup
  hosts: iperfs  # This playbook is for setting up the Sigma5+ lab environment
  become: True

  vars:
    iperf_script_dir: "{{ /etc/telegraf/telegraf.conf.d/ }}"
    iperf_script_tcp: "iperf3-tcp-conf.sh"
    iperf_script_udp: "iperf3-udp-conf.sh"
    iperf_script_tcp_path: "{{ iperf_script_dir }}/{{ iperf_script_tcp }}"
    iperf_script_udp_path: "{{ iperf_script_dir }}/{{ iperf_script_udp }}" 
    iperf_remote_ip: 192.168.1.7
    iperf_bw: 1G
    iperf_time: 60s

  tasks:
    - name: Create scadmin user
      user:
        name: scadmin
        state: present
        shell: /bin/bash
        groups: sudo
        append: yes
        password: "{{ 'scadmin_password' | password_hash('sha512') }}"

    - name: Install required packages
      apt:
        update_cache: yes
        cache_valid_time: 3600
        name:
          - iperf3
          - python3-pip
          - telegraf
        state: present
      notify: Restart Telegraf

    - name: Create directory for Telegraf configuration scripts
      file:
        path: "{{ iperf_script_dir }}"
        state: directory
        mode: '0755'      

    - name: Copy iperf3 TCP configuration script
      copy:
        dest: "{{ iperf_script_tcp_path }}"
        content: |
          #!/bin/bash
          iperf3 -c {{ iperf_remote_ip }} -t {{ iperf_time }} -b {{ iperf_bw }} -p 5201 -J 

    - name: Copy iperf3 UDP configuration script
      copy:
        dest: "{{ iperf_script_udp_path }}"
        content: |
          #!/bin/bash
          iperf3 -u -c {{ iperf_remote_ip }} -t {{ iperf_time }} -b {{ iperf_bw }} -p 5202 -J

    - name: Create systemd service for iperf3 TCP
      copy:
        dest: /etc/systemd/system/iperf3-tcp.service
        content: |
          [Unit]
          Description=iperf3 TCP Service
          After=network.target

          [Service]
          Type=simple
          ExecStart=/usr/bin/iperf3 -s -p 5201
          Restart=always

          [Install]
          WantedBy=multi-user.target

    - name: Create systemd service for iperf3 UDP
      copy:
        dest: /etc/systemd/system/iperf3-udp.service
        content: |
          [Unit]
          Description=iperf3 UDP Service
          After=network.target

          [Service]
          Type=simple
          ExecStart=/usr/bin/iperf3 -s -u -p 5202
          Restart=always

          [Install]
          WantedBy=multi-user.target

  handlers:
    - name: Restart Telegraf
      service:
        name: telegraf
        state: restarted
    - name: Restart Grafana
      service:
        name: grafana-server
        state: restarted
    - name: Restart Prometheus
      service:
        name: prometheus
        state: restarted

- name: Grafana/prometheus setup
  hosts: monitors  # This playbook is for setting up Grafana and Prometheus
  become: True

  vars:
  tasks:
    - name: Create scadmin user
      user:
        name: scadmin
        state: present
        shell: /bin/bash
        groups: sudo
        append: yes
        password: "{{ 'scadmin_password' | password_hash('sha512') }}"

    - name: Install Grafana
      apt:
        name: grafana
        state: present
      notify: Restart Grafana

    - name: Install Prometheus
      apt:
        name: prometheus
        state: present
      notify: Restart Prometheus

    - name: Insert telegraf IP address into prometheus.yml
      lineinfile:
        path: /etc/prometheus/prometheus.yml
        insertafter: '^  - job_name: "telegraf-iperf"'
        line: '    static_configs:\n      - targets: ["192.168.1.9:9273"]\n -targets: ["192.168.1.9:9274"]\n -targets: ["192.168.1.9:9275"]'
      notify: Restart Telegraf
         